*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
.body.dark {
    background-color: #000;
}

.header{
    z-index: 2;
}

/* index starts */

.index-component-container {
    height: calc(100vh - 80px);
    width: 100wh;
}

.index-background-image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image:  url('./images/video_placeholder.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.index-background-image-upper-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.index-content-wrapper, .index-content {
    height: 100%;
    width: 100%;
}

.index-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 70vh;
    width: 70vh;
    
}

.circle-container {
    border-bottom: 1px solid transparent;
}

.circle-content {
    color: #fff;
    margin: 15%;
    text-align: center;
}

.circle-content h1 {
    font-size: 6vh;
    font-weight: bold;
}
.circle-content p{
    font-size: 2.5vh;
}

#redefine-banking {
    font-size: 7.5vh;
}

.cta-link {
    font-size: 2.5vh;
    color: #fff;
    position: absolute;
    transform: translate(-50%, -10%);
    padding: 5px 10px;
}

.cta-link:hover {
    cursor: pointer;
    text-decoration:none;
    background-color: red;
    color: white;
    text-shadow: 1px 0 1px #000;
    transition: ease 0.5s;
    border-radius: 5px;
    z-index: 2;
}

#halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
     overflow: hidden;
     transform-origin: left center;
     animation: cliprotate 5s steps(2) infinite;
     -webkit-animation: cliprotate 5s steps(2) infinite;
  }
  
  .halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 3px transparent;
     border-top-color: #fff;
     border-left-color: #fff;
     border-radius: 50%;
  }
  #clipped {
    width: 200%;
     animation: rotate 2.5s linear infinite;
     -webkit-animation: rotate 2.5s linear infinite;
  }
  #fixed {
    width: 100%;
      transform: rotate(135deg);  
     animation: showfixed 5s steps(2) infinite;
     -webkit-animation: showfixed 5s linear infinite;
  }
  
  @-webkit-keyframes cliprotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  
  @keyframes cliprotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  
  
  @-webkit-keyframes rotate {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(135deg);}
  }
  
  @keyframes rotate {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(135deg);}
  }
  
  @keyframes showfixed {
    0% {opacity: 0;}
    49.9% {opacity: 0;}
    50% {opacity: 1;}
   100% {opacity: 1;}
  }

@media screen and (max-width: 700px) {
    .carousel {
        position: relative;
        width: 30rem;
        height: 35rem;
    }
    .carousel-inner {
        display: flex;
        justify-content: center;
    }
    .item {
        height: 30rem;
        width: 30rem;
    }
    .circle-container {
        border-bottom: 1px solid transparent;
    }
    .circle-content h1 {
        font-size: 4vh;
        font-weight: bold;
    }
    .circle-content p{
        font-size: 1.8vh;
    }
    .circle-content a {
        font-size: 1.8vh;
    }
    #redefine-banking {
        font-size: 5vh;
    } 
    @media screen and (min-height: 737px) and (max-height:849px ) {
        .circle-content h1 {
            font-size: 3.8vh;
        }
        #redefine-banking {
            font-size: 4vh;
        } 
        .circle-content p{
            font-size: 1.5vh;
        }
        .circle-content a {
            font-size: 1.5vh;
        }
        .circle-content {
            margin: 10% 15%;
        }
    }
    @media screen and (max-height: 639px) {
        .circle-content h1 {
            font-size: 4.4vh;
        }
        .circle-content p {
            font-size: 2.2vh;
        }
        .circle-content a {
            font-size: 2.2vh;
        }
    } 
    @media screen and (min-height: 850px) {
        .circle-content {
            margin: 15% 15%;
        }
        .circle-content h1 {
            font-size: 25px;
        }
        .circle-content p {
            font-size: 13px;
        }
        .circle-content a {
            font-size: 13px;
        }
    }
}



/* index ends */


a.navbar-brand {
    padding: 0;
    margin: 5px;
}

.navbar-brand img {
    height: 65px;
    width: 65px;
}

.navbar-container {
    text-align: right;
    height: 80px;
    position: relative;
    z-index: 3; 
}

#navbar-menu-wrapper {
    position: fixed;
    width: 100%;
}

.navbar-wrapper {
    position: fixed;
    width: 100%;
}

.navbar-container.dark {
    background-color: #000;
    color: #fff;
}

.navbar-container.dark a{
    color: #fff;
}

.navbar-menu-icon{
    position:absolute;
    top: 0;
    right: 0;
    height: 55px;
    width: 65px;
    display: none;
}

.menu-icon-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .icon-inner-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      width: 100%; 
    height: 100%;
      fill: none;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-linejoin: round;
    cursor: pointer;
    stroke: #FFFFFF; opacity: .95;
  }
  

@media screen and (max-width: 900px) {
    .navbar-menu-icon {
        filter: invert(1);
        display: inline-block;
        transition: 1s;
        z-index: 1;
    }

    .navbar-menu-icon.dark {
        filter: invert(0);
    }

    .navbar-container-inner{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .navbar-nav-wrapper {
        position: fixed;
        background-color:#54a39b;
        height: 100%;
        top: 0;
        right: 0;
        text-align: center;
        width: 0;
        transition: 1s;
    }
   
    .navbar-nav-wrapper.menuIsClicked {
        width: 250px;
    }

    .navbar-nav-wrapper ul {
        margin-top: 60px;
        padding: 0;
        text-align: left;
    }
    .navbar-nav-wrapper ul li{
        display: block;
    }
    .navbar-container.dark a{
        color: #fff;
    }

}

/* dark mode starts */
.circle-dark-mode-switch-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 0 80px 0;
    z-index: 3;   
}

.circle-dark-mode-switch {
    border: 1px solid #000;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 40px;
    width: 100px;
    display: flex;
    text-align: center;
    background-color:#808080;
    opacity: 0.3;
}

.circle-dark-mode-switch:hover {
    opacity: 1;
    transition: 0.5s ease;
}

.day-mode {
    margin: 1px 0 0 15px;
    width: 40%;
}

.day-mode img{
    float: right;
    margin-right: 5px;
    border: 1px solid transparent;
    padding: 3px;
    border-radius: 50%;
}

.day-mode img:hover {
    cursor: pointer;
    background-color: #000;
    transition: 1s;

}

.night-mode {
    width: 50%;
    margin-top: 1px;
}

.night-mode img {
    padding: 3px;
    float: left;
    border: 1px solid transparent;
    border-radius: 50%;
}

.night-mode img:hover {
    cursor: pointer;
    background-color: #fff;
    transition: 1s;
}


/* dark mode ends */

.component-container {
    position: absolute;
    margin: 50px 50px;
    text-align: center;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
}

ul img {
    cursor: pointer;
    margin-right: 10px;
}

ul:hover img {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
    transition: transform 0.5s ease;
}

ul li{
    display: inline-block;
    padding: 0 1px;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    color: #000;
    transition: ease 1s;
}

ul li a:hover{
    background-color: LightGray;
    color: #000;
    text-decoration: none;
}

ul li.active a {
    background-color: LightGray;
    color: #000;
    text-decoration: none;
}

/*-----About Us------ */

.component-container-about-us {
    display: flex;
    height: 100vh;
    width: 100wh;
}

.component-container-about-us.dark {
    background-color: black;
    color: white;
}

.about-us-first-page-wrapper{
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
}

.about-us-first-page{
    display: flex;
    justify-content: center;
    text-align: left;
    width: 1200px;
    margin: auto 0;
}

.about-us-title {
    margin:0 10px;
    margin-bottom: 20px;
}

#firstHeader {
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    height: 100px;
}

.about-us-content-text {
    width: 35%;
}

.about-us-content-text p {
    font-size: 1.6rem;
    margin: 0 10px;
}

.about-us-content-video video{
    margin: 10px;
    border-radius: 5px;
}

.about-us-content-video.dark video{
    border: 1px solid #fff;
}

.about-us-content-video {
    animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@-ms-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@-o-keyframes fadeInRight {
    from {
        transform: translate3d(100%,0,0);
    }
    to {
        transform: translate3d(0,0,0);
    }
}

.about-us-paragraph {
    /* animation-name: fadeInBottom;
    -ms-animation-name: fadeInBottom;
    animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-fill-mode: both;
    -ms-animation-fill-mode: both; */
    
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to { opacity: 1 }
}

@media only screen and (max-width:430px){
    .component-container-about-us.dark {
        border: 1px solid black;
    }
    .about-us-first-page {
        height: calc(100% - 80px);
        width: 100%;
        margin-top:80px;
        display: inline-block;
    }
    .about-us-content-text {
        width: 100%;
    }
    #firstHeader {
        font-size: 3rem;
    }
    .about-us-title {
        height: 90px;
        margin-bottom: 0;
    }
    .about-us-paragraph p {
        font-size: 2.2vh;
    }
    .about-us-content-video {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .about-us-content-video video {
        margin:0;
        height: 100%;
        width: 95%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 431px){
    .component-container-about-us.dark {
        border: 1px solid black;
    }
    .about-us-first-page {
        height: calc(100% - 70px);
        width: 100%;
        margin-top:70px;
        display: inline-block;
    }
    .about-us-content-text {
        width: 100%;
    }
    .about-us-paragraph p{
        font-size: 2vh;
    }
    .about-us-content-video {
        margin-top: 10px;
        height: 60%;
        text-align: center;
    }
    .about-us-content-video video {
        margin: 0;
        height: 100%;
        width: 95%;
    }
}

@media only screen and (min-height: 900px) and (min-width: 1800px){
    .about-us-first-page  {
        margin-top: 80px;
        height: calc(100% - 80px);
        width: auto;
        
    }
    .about-us-content-text {
        height: 80%;
        transform: translateY(10%);
        
    }
    .about-us-content-video {
        height: 100%;
        
        
    }
    .about-us-content-video video{
        transform: translateY(10%);
        height: 65%;
        width: auto;
    }
}

/* Start Scroll Down arrow */

.arrow-container {
    position: fixed;
    width: 100px;
    height: 250px;
    right: 0;
    bottom: 0;
    opacity: 1;
    margin-bottom: 10px;
    z-index: 2;
}

.arrow-container-bb {
    position: fixed;
    width: 100px;
    height: 250px;
    right: 0;
    bottom: 0;
    opacity: 1;
    margin-right: 25px;
    margin-bottom: 10px;
}

.arrow-container-up-bb {    
    position: fixed;
    margin-top: 60px;
    margin-right: 25px;
    justify-content: center;
    width: 50px;
    height: 250px;
    right: 0;
    top: 0;
    opacity: 1;
    transform: rotate(180deg);
    opacity: 0;
}

.arrow-container-up {
    position: fixed;
    margin-top: 45px;
    justify-content: center;
    width: 50px;
    height: 250px;
    right: 0;
    top: 0;
    opacity: 1;
    transform: rotate(180deg);
    opacity: 0;
    z-index: 2;
}

.arrow-container.remove {
    opacity: 0;
}

.arrow-container-up.remove {
    opacity: 0;
}

.arrow-wrapper {
    min-width: 100%;
        transform: rotate(180deg);
}
.arrow {
     margin-top: 100px;
	 opacity: 0;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform-origin: 50% 50%;
     transform: translate3d(-50%, -50%, 0);
}
.arrow-first {
	 animation: arrow-movement 2s ease-in-out infinite;
}
 .arrow-second {
	 animation: arrow-movement 2s 1s ease-in-out infinite;
}
 .arrow:before, .arrow:after {
	 background: #000;
	 content: '';
	 display: block;
	 height: 2px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 25px;
}

.arrow.dark:before, .arrow.dark:after {
    background: white;
}

 .arrow:before {
	 transform: rotate(45deg) translateX(-23%);
	 transform-origin: top left;
}
 .arrow:after {
	 transform: rotate(-45deg) translateX(23%);
	 transform-origin: top right;
}
 @keyframes arrow-movement {
	 0% {
		 opacity: 0;
		 top: 45%;
	}
	 70% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
	}
}

/* end of arrow down */



.line-wrapper {
    width: 39.9%;
    text-align: center;
}

.about-us-second-page-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: table;
}

.how-we-will-be-bank-of-future--circle-wrapper {
    position: relative;
    width: 40%;
    text-align: center;
    opacity: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}


.how-we-will-be-bank-of-future--circle {
    position: static;
    display: inline-block;
  color: #fff;
  min-width: 350px;
  width: 350px;
  min-height: 350px;
  height: 350px;
  border: solid 5px #EF5052;
  border-radius: 50%;
  background-color: #EF5052;
}

.how-we-will-be-bank-of-future--circle:hover {
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
    transition: transform 0.5s ease;
}


.how-we-will-be-bank-of-future--circle-letter{
    transform: translateY(50%);
}

.how-we-will-be-bank-of-future--circle h3 {
    text-align: center;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.how-we-will-be-bank-of-future--circle h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 10px;
}

.container-row-wrapper {
    width: 100%;
    text-align: left;
    display: table-cell;
    vertical-align: middle;    
}

.container-row{
   margin-right: 10px;
  position: relative;
  left: 0;
  width: 100%;
}

.row{
    display: flex;
    opacity: 0;
    border-radius: 20px;
    margin: 10px 0;
    width: 80%;
    background-color: #EFF0F1;
    position: relative;
}

.row:hover {
    -webkit-transform: scale(1.05) !important;
            transform: scale(1.05) !important;
    transition: transform 0.5s ease;
}

.row.dark {
    color: #000;
}

.seamless-customer-gif img {
    height: 130px;
    width: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.seamless-customer-gif-paragraph {
    padding: 10px;
    background-color: #EFF0F1;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.seamless-customer-gif-paragraph h3 , .seamless-customer-gif-paragraph p {
    transform: translateY(50%);
}

.seamless-customer-gif-paragraph h3 {
    font-weight: bold;
    font-size: 2.3rem;
}

.seamless-customer-gif-paragraph p{
    font-size: 1.5rem;
}

.component-container-about-us-meet-the-team-wrapper1 ,
.component-container-about-us-meet-the-team-wrapper2 {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.component-container-about-us .meet-the-team {
    width:100%;
    z-index: -1;
}

@media only screen and (max-width:1000px){
    .about-us-second-page-wrapper {
        height: calc(100% - 70px);
        display: block;
    }
    .how-we-will-be-bank-of-future--circle-wrapper {
        display: block;
        height: 50%;
        width: 100%;
    }
    .how-we-will-be-bank-of-future--circle {
        min-height: initial;
        min-width: initial;
        max-height: initial;
        max-width: initial;
        height: 40vh;
        width: 40vh;        
    }
    .how-we-will-be-bank-of-future--circle-letter h3{
        font-size: 3vh;
    }

    .how-we-will-be-bank-of-future--circle-letter h2 {
        font-size: 5vh;
    }
    .container-row-wrapper {
        display: block;
        height: 50%;
        width: 100%;
    }
    .container-row {
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .row {
        height: 30%;
        margin: 0;
    
    }
    .seamless-customer-gif {
        height: 100%;
        width: auto;
    }
    .seamless-customer-gif img {
        height: 100%;
        width: auto;
    }
    .seamless-customer-gif-paragraph h3 , .seamless-customer-gif-paragraph p {
        transform: translateY(0);
        margin: 0;
    }
    .seamless-customer-gif-paragraph h3 {
        font-size: 2.5vh;
    }
    .seamless-customer-gif-paragraph p {
        font-size: 1.5vh;
    }
}

@media only screen and (min-height: 650px) and (min-width: 1700px){
    .how-we-will-be-bank-of-future--circle {
        position: relative;
        height: 60%;
        width: 45em;
    }      
    .container-row{
        height: 70%;
    }
    .row {
        height: 30%;    
    }
    .seamless-customer-gif {
        width: 20px;
    }    
    .seamless-customer-gif img{
        position: absolute;
        height: 100%;     
        width: auto;   
    }
    .how-we-will-be-bank-of-future--circle-letter {
        transform: translateY(70%);
    }
    .how-we-will-be-bank-of-future--circle-letter h3 {
        font-size: 4rem;
    }    
    .how-we-will-be-bank-of-future--circle-letter h2 {
        font-size: 6rem;
    }
    .seamless-customer-gif-paragraph h3 {
        font-size: 3rem;
    }
    .seamless-customer-gif-paragraph p {
        font-size: 2rem;
    }
}

.meet-the-team-text-wrapper {
    margin-top: 10px;
}

.meet-the-team-text-background {
    opacity: 0;
}

.meet-the-team h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.meet-the-team p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.meet-our-team--team-member-wrapper{
    position: relative;
}

.image-row-wrapper {
        position: relative;
        display: table;
        margin: 0 10px;
        width: 100%;
        height: 100%;
}

.image-row-fixed , .image-row1-fixed , .image-row2-fixed , .image-row3-fixed , .image-row4-fixed {
    width: 100%;
    opacity: 0;
    z-index: 0;
}

.image-row {
    position: relative;
    margin: auto;
    text-align: center;
}

.image-box {
    position: relative;
    height: 230px;
    width: 230px;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px 10px;
}

.image-box img{
    display: block;
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.image-box:hover img {
    -webkit-transform: scale(1.05) !important;
            transform: scale(1.05) !important;
}

.img-description-layer{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #b8e5dc;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: opacity .2s, visibility .2s;
  border-radius: 5px;
}

.image-box:hover .img-description-layer {
    visibility: visible;
    opacity: 0.9;
    border-radius: 5px;
}

.img-description {
    transition: .2s;
    margin-left: 30px;
    text-align: left;
}

.image-box:hover .img-description {
    transform: translateY(0);
    border-radius: 5px;
}

.img-description h3{
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.img-description p{
    color: #000;
    font-size: 13px;
}

.about-us-small-row-appear {
    display: none;
}

@media only screen and (max-width:780px){
    .component-container-about-us-meet-the-team-wrapper1,
    .component-container-about-us-meet-the-team-wrapper2 {
        display: flex;
        align-items: center;
    }
    .meet-the-team-wrapper {        
        width: 100%;
    }
    .meet-the-team-text-background h2{
        font-size: 4vh;
    }
    .meet-the-team-text-background p {
        font-size: 2vh;
    }
    .image-row-wrapper {
        margin: 0;
    }
    .image-row {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .image-box {
        height: 20vh;
        width: 20vh;
        margin: 5px;
    }
    .image-box img{
        height: 20vh;
        width: 20vh;   
    }
    .about-us-small-pic-disappear {
        display:none;
    }
}

@media only screen and (min-height: 650px) and (min-width: 1280px){
    .meet-the-team-wrapper {
        position: relative;
        margin-top: 70px;
        height: calc(100% - 70px);
        width: 100%;
    }
    .image-row-wrapper {
        position: relative;
        height: calc(100% - 100px);
        margin: 0;
    }
    .image-row-fixed , .image-row1-fixed {
        position: relative;
        height: 100%;
        width: 100%;   
    }
    .image-row {
        overflow: auto;
        width: 100%;
    }
    .image-box {
        height: auto;
        width: auto;
    }
    .image-box img {
        height: 35vh;
        width: 35vh;        
    }
}

.award-container-wrapper {
    margin-top: 70px;
    width: 100%;
    position: fixed;
    top:0;
    opacity: 0;
}

.award-container h2 {
    font-weight: bold;
    font-size: 50px;
}

.award-image-wrapper img {
    padding: 5px;
    margin: 15px 10px;
}

.award-image-wrapper:hover img {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
}

.award-image-wrapper.dark img{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #fff;
}

@media only screen and (max-width:430px){
.award-image-wrapper img {
    margin: 0;
    width: 90%;
}
}

.make-row {
    width: 100%;
    height: 75%;
    margin: 100px 0 90px 0;
    z-index: 1;
    position: relative;
    color: #fff;
    opacity: 0;
}

.make-row.dark {
    filter: invert(1);
}

.make-row h1 {
    font-weight: bold;
    text-align: center;
}


.contact-first-column {
    text-align: center;
    right: 0;
    top: 0;
    background-color: #4c4c4c;
}

.contact-first-column-text {
    margin: 0 30px;
    position: absolute;
    top: 20%;
}

.contact-first-column a:hover{
    cursor: pointer;
    background-color: black;
}
.contact-second-column {
    background-color: #323232;
    z-index: 1;
}

.contact-second-column-text{
    position: absolute;
    top: 20%;
}


.contact-third-column {
    background-color: #191919;
}

.contact-third-column-text{
    position: absolute;
    top: 20%;
}

.contact-icon-container {
    text-align: center;
}

.contact-icon-container a {
    margin: 10px;
    text-decoration: none;
}

.contact-icon-container:hover a {
    text-decoration: none;
}

.contact-fourth-column {
    width: 100%;
    position: relative;
    background-color: #000;
}

.contact-fourth-column::before {
    background-image:  url('./images/location.png');
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.contact-fourth-column h2 {
    font-weight: bold;
}

.contact-address {
    margin: 0 30px;
    position: absolute;
    top: 20%;
}

.term-and-policy {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
}

.term-and-policy a {
    color: #003282;
}

.term-and-policy:hover a {
    cursor: pointer;
}

.team-and-policy.active {
    text-decoration: none;
}

.div-fixed-contact {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}
@media only screen and (max-width:1200px){
    .contact-first-column {
        margin: 0;
        margin-top: 70px;
        height: calc(30% - 35px);
    }
    .contact-first-column-text h1 {
        font-size: 5vh;
    }
    .contact-second-column, .contact-third-column{
        height: 15%;
        margin: 0;
    }
    .contact-second-column-text h2 {
        margin: 0;
        font-size: 4vh;
    }
    .contact-second-column-text p {
        font-size: 2vh;
        margin: 0;
    }
    .contact-third-column-text h2{
        font-size: 4vh;
        margin: 0;
    }
    .contact-icon-container a img{
        height: 7vh;
        margin: 0;
    }
    .contact-fourth-column {
        height: calc(40% - 35px);
        margin: 0;
    }
    .contact-address {
        margin: 0;
    }
    .contact-address h2 {
        font-size: 4vh;
    }
    .contact-address p {
        font-size: 2vh;
    }
    .term-and-policy p, .term-and-policy a {
        font-size: 2vh;
    }
}


/* Think Piece */

.think-piece-component-container {
    height: 100%;
    width: 100%;
}

.think-piece-component-container.dark {
    background-color: #000;
    color: #fff;
}

.think-piece-container-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
}

.think-piece-container-wrapper.dark {
    background-color: #000;
}

.think-piece-article-menu {
    height: 80%;
}

.think-piece-article-menu.dark {
    filter: invert(1);
    background-color: #fff;
}

.think-piece-article-pointer.dark p {
    filter: invert(1);   
}

.think-piece-article-row {
    padding-left: 5px;
    display: flex;
    margin-bottom: 10px;;
    transition: transform 0.5s;
    border-left: 5px solid transparent;
}

#forget-me-not {
    /*border-left: 5px solid #000;*/
    transition: all 2s;
}

.think-piece-article-row:hover {
    cursor: pointer;
    -webkit-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    transition: 1s all ease-out;
}

.think-piece-article-row.dark h3 {
    color: #000;
}

.think-piece-article-row-title h4 {
    margin: 5px 0 5px 5px;
    font-size: 25px;
}

.think-piece-article-row-title a {
    font-size: 15px;
    color: #000;
}

.think-piece-article-row-title:hover a {
    color: #000;
    text-decoration: none;
}

.think-piece-article-row h3 {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.think-piece-content-article {
    overflow-y: auto;
    height: 85%;    
}

#firstContent , #secondContent {
    margin-left: 10%;
}

.think-piece-content-article::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.think-piece-content-article::-webkit-scrollbar
{
	width: 5px;
    background-color: #F5F5F5;
    border-radius: 2px;
}

.think-piece-content-article::-webkit-scrollbar-thumb
{
	border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(114, 114, 114);
}


.think-piece-content-article.dark {
    background-color: #000;
    color: #fff;
}

.defaultContent-text {
    text-align: center;
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -o-transform: translateY(50%);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


#firstContent {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

#secondContent {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

.think-piece-nav-bar{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.think-piece-content-article-body {
    /*overflow-y: auto;
    height: 100%;*/
    padding-right: 50px;
 }

.think-piece-content-article-body1 {
    position: absolute;
    height: 100%;
}

.think-piece-content-article-body h1 {
    font-weight: bold;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

.think-piece-content-article-body p {
    font-size: 1.2em;
}

.think-piece-content-article-body img {
    margin: 30px 0;
}

.quote {
    position: relative;
    padding: 50px 120px;
    font-weight: bold;
}

.quote:before {
    content: '\201C';
  top: 14px;
  left: 70px;
  font-size: 60px;
  line-height: 0px;
}

.quote:after {
    content: '\201D';
  display: inline-block;
  vertical-align: bottom;
  margin: 0px 10px -8px;
  font-size: 60px;
  line-height: 0px;
}

@media only screen and (max-width: 760px) {
    .think-piece-article-menu {
        display: none;
    }
} 

@media only screen and (max-width: 960px) { 
    .think-piece-content-article-body {
        overflow-x: hidden;
        padding: 0;
    }
    #firstContent {
        border-bottom: 1px solid #000;
        margin: 0;
    }
    .think-piece-content-article-body h1 {
        font-size: 5vh;
    }

    .think-piece-content-article-body h2 {
        font-size: 3.5vh;
        font-weight: bold;
    }
    
    #Dementia2 img{
        width: 100%;
        height: auto;
    }
    #secondContent {
        margin: 30px 0 0 0 ;
    }
    #secondContentFirstPic {
        margin: 20px 0 0 0;
    }
    #secondContentFirstPic img{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .quote {
        margin: 50px 0;
        padding: 0;
    }
}

/* Beyond Banking */
.component-container-beyond-banking {
    height: 100vh;
    width: 100wh;
}

.component-container-beyond-banking.dark {
    background-color: #000;
    color: #fff;
}

.beyond-banking-first-text-wrapper {
    position: fixed;
    height: calc(100% - 80px);
    width: 100%;
    z-index: 1;
    display: table;
}

.beyond-banking-first-text-wrapper.dark {
    color: #fff;
    background-color: #000;
}

.beyond-banking-first-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    margin-top: 10%;
}

.we-believe-in-the-power-of {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-believe-in-the-power-of-first-text {
    margin-top: 80px;
    text-align: center;
    opacity: 0;
}

.we-believe-in-the-power-of-first-text h2 {
    font-weight: bold;
    font-size: 4rem;
}

.we-believe-in-the-power-of-first-row-wrapper {
    justify-content: center;
    text-align: center;
    display: flex;
}

.we-believe-in-the-power-of-first-row {
    margin: 0 10px;
    opacity: 0;
}

.we-believe-in-the-power-of-first-row-col h3 {
    font-weight: bold;
}

.we-believe-in-the-power-of-first-row-col img {
    transition: .3s ease-in-out;
}

.we-believe-in-the-power-of-first-row-col:hover img {
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
}

.we-believe-in-the-power-of-first-row-plus img {
    transition: .3s ease-in-out;
}

.we-believe-in-the-power-of-first-row-plus:hover img {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
}

.we-believe-in-the-power-of-first-row-plus {
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -o-transform: translateY(50%);
    opacity: 0;
}

.we-believe-in-the-power-of-second-row-wrapper {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.we-believe-in-the-power-of-second-row img {
    transition: .3s ease-in-out;
}

.we-believe-in-the-power-of-second-row:hover img {
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
}

@media only screen and (max-width: 900px) {
    #typedtext {
        font-size: 9vh;
    }
    .we-believe-in-the-power-of-first-text h2 {
        font-size: 3rem;
    }
    .we-believe-in-the-power-of-content-wrapper {
        height: calc(100% - 155px);
    }
    .we-believe-in-the-power-of-first-row-wrapper {
        height: 70%;
    }
    .we-believe-in-the-power-of-first-row {
        height: 100%;
    }
    .we-believe-in-the-power-of-first-row img {
        height: 40vh;
        width: auto;
    }
    .we-believe-in-the-power-of-first-row h3 {
        font-size: 3vh;
    }
    #we-believe-in-the-power-of-first-row-1 {
        display: inline-block;
    }
    #we-believe-in-the-power-of-first-row-2 {
        display: none;
    }
    #we-believe-in-the-power-of-first-row-3 {
        display: none;
    }
    .we-believe-in-the-power-of-second-row-wrapper {
        height: 30%;
        width: 100%;
    }
    .we-believe-in-the-power-of-second-row-wrapper img {
        height: 100%;
        width: 100%;
        border: 5px solid transparent;
    }
    .we-believe-in-the-power-of-first-row-plus {
        display: none;
    }
    .we-believe-in-the-power-of__img--hand-left , .we-believe-in-the-power-of__img--hand-right {
        display:none;
    }
}

@media only screen and (min-height: 900px) and (min-width: 1600px){
    .we-believe-in-the-power-of-inner {
        height:100%;
    }
    .we-believe-in-the-power-of-content-wrapper {
        height: calc(100% - 140px);
    }
    .we-believe-in-the-power-of-first-row-wrapper {
        height: 75%;
    }
    .we-believe-in-the-power-of-first-row-col img{
        height: 100%;
        width: auto;
    }
    .we-believe-in-the-power-of-first-row-wrapper img {
        height: 60%;
        
    }
    .we-believe-in-the-power-of-second-row-wrapper {
        height: 25%;
    }
    .we-believe-in-the-power-of-second-row-wrapper img {
        height: 100%;
        width: auto;
    }
    .we-believe-in-the-power-of-first-row-plus img {
        height: auto;
    }
}

.beyond-banking-video {
    opacity: 0;
    height: 450px;
}


.beyond-banking-video-content-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beyond-banking-video-wrapper {
    width: 800px;
    display: inline-block;
}

@media only screen and (min-height: 900px) and (min-width: 1600px){
    .beyond-banking-video-wrapper{
        height: 100%;
        width: 50%;
    }

    .beyond-banking-video {
        position: relative;
        height:70%;
    }

    .beyond-banking-video iframe{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .beyond-banking-video-wrapper {
        width: 100%;
        height: 100%;
    }
    .beyond-banking-video-title {
        height: 30%;
    }
    .beyond-banking-video-title h3 {
        margin: 0 10px;
        font-size: 3.5vh;
    }
    .beyond-banking-video-wrapper {
        display: inline-block;
        height: 100%;
    }
    .beyond-banking-video {
        width: 100%;
        height: 60%;
    }
    .beyond-banking-video iframe{
        height: 100%;
        width: 100%;
    }
    .details-in-the-case-below-text{
        height: 10%;
        width: 100%;        
    }
    .details-in-the-case-below-text-wrapper {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .details-in-the-case-below-text-wrapper h4 {
        font-size: 2.5vh;
    }
}

.beyond-banking-video-title-wrapper {
    border-top: 1px solid transparent;
    opacity: 0;
}

.beyond-banking-video-title {
    margin-top: 80px;
    text-align: center;
    background-color: #08708A;
}

.beyond-banking-video-title h3 {
    font-weight: bold;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 0;
}

.details-in-the-case-below-text {
    text-align: center;
    background-color: #08708A;
    opacity: 0;
}

.details-in-the-case-below-text-wrapper {
    color: #fff;
    display: flex;
    justify-content: center;
}

.details-in-the-case-below-text-wrapper h4 {
    font-weight: bold;
}

.details-in-the-case-below-text-wrapper:hover {
    cursor: pointer;
}

.details-in-the-case-below-text img {
    margin: 0 10px;
    transform: translateY(30%);
    -ms-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -o-transform: translateY(30%);
}


.come-partner-us-wrapper-first,
.come-partner-us-wrapper-second {
    height: 100%; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.come-partner-us-content-wrapper1 , .come-partner-us-content-wrapper2 {
    border-top: 1px solid transparent;
    height: 100%;
}


.come-partner-us-content-first-wrapper , .come-partner-us-content-second-wrapper {
    position: relative;
    text-align: center;
    height: 75%;
    z-index: 0;
}

.come-partner-us-content-second-wrapper {
    margin-top: 65px;
}

.come-partner-us-title-text {
    text-align: center;
    opacity: 0;
    width: 100%;
}

.come-partner-us-title-text h1 {
    font-weight: bold;
}

.come-partner-us-title-text p {
    font-size: 2rem;
}

.come-partner-us-content-first-wrapper h1 , .come-partner-us-content-second-wrapper h1 {
    font-weight: bold;
}

.come-partner-us-content-first-wrapper p , .come-partner-us-content-second-wrapper p {
    font-size:  2rem;
}

.come-partner-us-content-first-page , .come-partner-us-content-second-page {
    display: flex;
    height: 488px;
    justify-content: center;    
}

.come-partner-us-content-first-page {
    padding: 0;
}

.come-partner-us-content-first-page-1-row {
    
    height: 100%;
    width: 100%;
    text-align: left;
}

.come-partner-us-content-first-page-1-row1-content, .come-partner-us-content-first-page-1-row2-content {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.come-partner-us-content-first-page-1-row1-content img {
    margin: 40px 50px 0 0;
}

.come-partner-us-content-first-page-1-row1-content-text {
    width: 380px;
    margin: 20px 0 0 50px;
}

.come-partner-us-content-first-page-1-row1-content-text h3, 
.come-partner-us-content-first-page-1-row2-content-text h3,
.come-partner-us-content-first-page-1-row2-content-small-text h3
 {
    font-weight: bold;
}

.come-partner-us-content-first-page-1-row1-content-text p, 
.come-partner-us-content-first-page-1-row2-content-text p,
.come-partner-us-content-first-page-1-row2-content-small-text p{
    font-size: 1.6rem;
    margin: 20px 0;
}

.come-partner-us-content-first-page-1-row2-content-text a,
.come-partner-us-content-second-page-1-row-content-text a,
.come-partner-us-content-first-page-1-row2-content-small-text a {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    padding: 5px;
}

.come-partner-us-content-first-page-1-row2-content-text a:hover , .come-partner-us-content-second-page-1-row-content-text a:hover,
.come-partner-us-content-first-page-1-row2-content-small-text a:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: 1s;
}

.come-partner-us-content-first-page-separator , .come-partner-us-content-second-page-separator {
    position: absolute;
    height: 100%;
}
.come-partner-us-content-second-page-separator {
    margin-top: -40px;
}
.come-partner-us-content-first-page-separator-red-line , .come-partner-us-content-second-page-separator-red-line {
    position: absolute;
    width: 10px;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    margin-top: 2px;
    background-color: #EF5052;
    z-index: -1 !important;
}

.come-partner-us-link.dark {
    filter: invert(1);
}

.icon-sandbox {
    opacity: 0;
}

.icon-connect {
    opacity: 0;
    margin-top: 135px;
}

.come-partner-us-content-first-page-1-row2-content-text {
    width: 380px;
    margin-right: 50px;
}

.come-partner-us-content-first-page-1-row2-content-text-small-wrapper {
    display: none;
}

.come-partner-us-content-first-page-1-row2-content img {
    margin-left: 50px;
}

.come-partner-us-content-second-page-1-row-content {
    display: flex;
    opacity: 0;
}

.come-partner-us-content-second-page-2-row-content {
    display: flex;
    opacity: 0;
}

.come-partner-us-content-second-page-1-row-content img {
    margin-right: 50px;
}

.come-partner-us-content-second-page-1-row-content-text {
    width: 380px;
    margin-left: 50px;
    text-align: left;
}

.come-partner-us-content-second-page-1-row-content-text h3 {
    margin-top: 0;
    font-weight: bold;
}

.come-partner-us-content-second-page-1-row-content-text p {
    font-size: 1.6rem;
    margin: 20px 0;
}

.icon-regional {
    opacity: 0;
}

.icon-regional img {
    z-index: 1 !important;
}

.icon-data {
    opacity: 0;
    margin-top: 135px;
}

.come-partner-us-content-second-page-2-row-content-text-small-wrapper {
    display: none;
}
.come-partner-us-content-second-page-2-row-content img {
    margin-left: 50px;
}

.come-partner-us-content-second-page-2-row-content-text {
    width: 380px;
    margin: 20px 50px 0 0;
    text-align: left;
}

.come-partner-us-content-second-page-2-row-content-text h3 {
    font-weight: bold;
    margin-top: 0;
}

.come-partner-us-content-second-page-2-row-content-text p {
    font-size: 1.6rem;
    margin: 20px 0;
}

@media only screen and (max-width: 900px) {
    .come-partner-us-wrapper-first,
    .come-partner-us-wrapper-second {
        display: inline-block;
    }
    .come-partner-us-wrapper1, .come-partner-us-wrapper2 {
        margin-top: 80px;
    }
    
    .come-partner-us-content-wrapper1, .come-partner-us-content-first-wrapper, 
    .come-partner-us-content-first-page {
        height: 100%;
    }
    .come-partner-us-content-first-page-1-row1-content{
        height: 100%;
        display: none;
    }
    .come-partner-us-content-first-page-1-row1-content-img img{
        width: 100%;
        height: auto;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;       
        margin: 0;
    }
    .come-partner-us-content-first-page-1-row1-content-text,
    .come-partner-us-content-first-page-1-row2-content-small-text,
    .come-partner-us-content-second-page-1-row-content-text,
    .come-partner-us-content-second-page-2-row-content-text {
        margin: 0;
        width: 100%;        
    }
    .come-partner-us-content-first-page-1-row1-content-text h3, 
    .come-partner-us-content-first-page-1-row1-content-text p {
        margin-left: 10px;
    }
    .come-partner-us-content-first-page-1-row1-content-text h3,
    .come-partner-us-content-first-page-1-row2-content-small-text h3,
    .come-partner-us-content-second-page-1-row-content-text h3,
    .come-partner-us-content-second-page-2-row-content-text h3 {
        font-size: 3.8vh;
    }
    .come-partner-us-content-first-page-1-row1-content-text p, 
    .come-partner-us-content-first-page-1-row2-content-small-text p,
    .come-partner-us-content-second-page-1-row-content-text p,
    .come-partner-us-content-second-page-2-row-content-text p{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 2.3vh;
    }
    .come-partner-us-content-first-page-separator {
        display: none;
    }
    .come-partner-us-content-first-page-1-row2-content {
        display: inline-block;
    }
    .come-partner-us-content-first-page-1-row2-content-text {
        display: none;
    }
    .come-partner-us-content-first-page-1-row2-content-img img {
        width: 100%;
        height: auto;
        margin: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .come-partner-us-content-first-page-1-row2-content-text-small-wrapper {
        display: inline-block;
    }
    .come-partner-us-content-first-page-1-row2-content-small-text {
        margin: 0 10px;
    }
    .come-partner-us-content-second-page-separator {
        display: none;
    }
    .come-partner-us-content-second-wrapper {
        margin: 0;
    }
    .come-partner-us-content-second-page-1-row {
        display: inline-block;
    }
    .come-partner-us-content-second-page-1-row-content,
    .come-partner-us-content-second-page-2-row-content {
        display: inline-block;
        width: 100%;
    }
    .come-partner-us-content-second-page-1-row-content {
        display: none;
    }
    .come-partner-us-content-second-page-1-row-content-text{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    .come-partner-us-content-second-page-1-row-content-text h3,
    .come-partner-us-content-second-page-1-row-content-text p,
    .come-partner-us-content-second-page-1-row-content-text a {
        margin-left: 10px;
        margin-right: 10px;   
    }
    .come-partner-us-content-second-page-2-row-content-text-wrapper{
        display: none;
    }
    .come-partner-us-content-second-page-2-row-content-text-small-wrapper{
        display: inline-block;
        margin-top: 30px;
    }
    .come-partner-us-content-second-page-1-row-content-img img {
        width: 100%;
        height: auto;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .come-partner-us-content-second-page-2-row-content-img img {
        height: auto;
        width: 100%;
        margin: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .come-partner-us-content-second-page-2-row-content-text {
        width: 100%;
    }
    .come-partner-us-content-second-page-2-row-content-text h3,
    .come-partner-us-content-second-page-2-row-content-text p {
        margin-left: 10px;
        margin-right: 10px;
    }
    .come-partner-us-title-text h1 {
        font-size: 3.5rem;
    }
    .come-partner-us-title-text p {
        font-size: 2.5vh;
    }
    .come-partner-us-content-first-page-1-row2-content-small-text {
        width: auto;
    }
}

@media only screen and (min-height: 900px) and (min-width: 1600px) {

    .come-partner-us-wrapper1, .come-partner-us-wrapper2 {
        margin-top: 70px;
        height: calc(100% - 70px);
        width: 100%;
    }
    .come-partner-us-content-wrapper1, .come-partner-us-content-wrapper2 {
        height: calc(100% - 110px);
    }
    .come-partner-us-content-first-wrapper, .come-partner-us-content-first-page {
        height: 100%;
    }
    .come-partner-us-content-first-page-1-row1-content {
        height: 50%;
    }
    .come-partner-us-content-first-page-1-row1-content-img {
        width: 50%;
        text-align: right;
    }
    .come-partner-us-content-first-page-1-row1-content-img img {
        
        margin-right: 50px;
        height: 70%;
        width: auto;
    }
    .come-partner-us-content-first-page-1-row1-content-text-wrapper{  
        width: 50%;
        height: 100%;
        margin: 0;
    }
    .come-partner-us-content-first-page-1-row2-content-text {
        float: right;
        width: 510px;
    }
    .come-partner-us-content-first-page-1-row1-content-text {
        margin-top: 40px;
        width: 580px;
    }
    .come-partner-us-content-first-page-1-row2-content {
        height: 50%;
    }
    .come-partner-us-content-first-page-1-row2-content-text-wrapper {
        width: 50%;
    }
    .come-partner-us-content-first-page-1-row2-content-text {
        margin-top: 20px;   
    }
    .come-partner-us-content-first-page-1-row2-content-img {
        width: 50%;
    }
    .come-partner-us-content-first-page-1-row2-content-img img {
        margin-top: 40px;
        height: 80%;
        width: auto;
    }
    .icon-sandbox {
        height: 50%;
    }
    .icon-connect {
        margin: 0;
    }

    .come-partner-us-content-second-wrapper, .come-partner-us-content-second-page {
        margin: 0;
        height: 100%;
    }
    .come-partner-us-content-second-page-1-row {
        width: 100%;
    }
    .come-partner-us-content-second-page-1-row-content {
        height: 50%;
    }

    .come-partner-us-content-second-page-1-row-content-img {
        text-align: right;
        width: 50%;
    }
    .come-partner-us-content-second-page-1-row-content-text-wrapper,
    .come-partner-us-content-second-page-2-row-content-text-wrapper {
        width: 50%;
    }
    .come-partner-us-content-second-page-1-row-content-text {
        margin-top: 40px;
        width: 580px;
    }
    .come-partner-us-content-second-page-1-row-content-img img{
        margin-top: 40px;
        height: 80%;
        width: auto;
    }

    .come-partner-us-content-second-page-separator {
        margin-top: 0;
    }
    .come-partner-us-content-second-page-2-row-content {
        height: 50%;
    }
    .come-partner-us-content-second-page-2-row-content-img {
        text-align: left;
    }
    .come-partner-us-content-second-page-2-row-content-img img {
        height: 80%;
        width: auto;
        margin: 40px 0 0 50px;
    }
    .come-partner-us-content-second-page-2-row-content-text {
        margin-top: 40px;
        float: right;
        width: 580px;
    }
    .icon-regional {
        height: 50%;
    }
    .icon-data {
        margin: 0;
    }
}

.case-studies-container-wrapper {
    border-top: 1px solid transparent;
    height: 100%;
    width: 100%;
}

.case-studies-container {
    margin-top: 80px;
    position: fixed;
    top: 0;
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-studies-content-wrapper {
    display: flex;
    justify-content: center;
}

.case-study1-content , .case-study2-content {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

.case-study1-content:after , .case-study2-content:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:#000;
    opacity:0.5;
}

.case-study1-content img , .case-study2-content img {
    display: block;
    transition: transform .4s;
}

.case-study1-content:hover img , .case-study2-content:hover img {    
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
}

.case-study1-content-text , .case-study2-content-text {
    position: absolute;
    top: 0;
    width: 70%;
    margin-left: 50px;
    margin-top: 80px;
    color: #fff;
    z-index: 1;
}

.case-study1-content-text p , .case-study2-content-text p {
    font-size: 1.8rem;
    margin: 0;
}

.case-study1-content-text h2 , .case-study2-content-text h2 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 30px;
}

.case-study1-content-wrapper , .case-study2-content-wrapper {
    margin: 5% 0;
    background-color: #fff;
    width: 900px;
    display: inline-block;
}

.modal-backdrop {
    z-index: -1 !important;
}

.modal-header h2 {
    font-weight: bold;
}

.modal-body {
    width: 100%;
    display: flex;
    z-index: 1;
}

.modal.dark {
    color: #000;
}

.case-study1-modal-body-text{
    text-align: left;
    width: 60%;
    padding: 0 30px;
}

.case-study1-modal-body-text p {
    font-size: 1.6rem;
}

.case-study1-modal-body-text a , .case-study2-modal-body-text a{
    color: #000;
    font-weight: bold;
    padding: 5px;
}

.case-study1-modal-body-text a:hover , .case-study2-modal-body-text a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.case-study1-modal-body-text a:visited , .case-study2-modal-body-text a:visited , .case-study1-modal-body-text a:active , .case-study2-modal-body-text a:active,
.case-study1-modal-body-text a:focus , .case-study2-modal-body-text a:focus {
    text-decoration: none;
}

.case-study1-modal-body-img {
    text-align: right;
    width: 30%;
}

.case-study1-modal-body-img-small {
    display: none;
}

.case-study1-modal-body-img img {
    height: 400px;
}

.case-study1-modal-body-video {
    margin: 30px 0;
}

.case-study2-modal-body-text {
    text-align: left;
    margin: 0 50px;
}

.case-study2-modal-body-text P {
    font-size: 1.6rem;
}

.case-study2-modal-body-img {
    margin: 10px 30px 30px 0;
}
.case-study2-modal-body-img-small {
    display: none;
}
.case-study2-modal-body-img img{
    height: 500px;
}

@media only screen and (max-width: 900px) {
    .case-studies-content-wrapper{
        display: inline;
    }
    .case-studies-container {
        display: inline-block;
    }
    .case-study1-content {
        height: 40%;
        width: 100%;
        background: url('./images/partner-us/case_starhub.jpg');
        background-position: center;
        background-size: cover;
    }
    .case-study2-content {
        height: 40%;
        width: 100%;
        background: url('./images/partner-us/case_oneadvisor.jpg');
        background-position: center;
        background-size: cover;
    }
    .case-study1-content img, .case-study2-content img {
        display: none;
    }
    
    .case-study1-content-text, .case-study2-content-text {
        margin: 10px;
        width: auto;
    }
    .case-study1-content-text h2, .case-study2-content-text h2{
        font-size: 4vh;
        margin-bottom: 10px;
    }

    .case-study1-content-text p, .case-study2-content-text p {
        font-size: 2.8vh;
    }
}

@media only screen and (min-height: 648px) and (min-width: 1600px){
    .case-studies-content-wrapper {
        height: 100%;
    }

    .case-study1-content{
        height: 80%;
        width: 40%;
    }

    .case-study1-content img{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .case-study2-content{
        height: 80%;
        width: 40%;
    }

    .case-study2-content img{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }   
}
@media only screen and (max-width: 940px){
    .case-study1-content-wrapper {
        width: auto;
        margin: 70px 5px 5px;
    }
    .modal-body {
        display: inline-block;
    }
    .case-study1-modal-body-img {
        display: none;
    }
    .case-study1-modal-body-img-small {
        display: inline-block;
    }
    .case-study1-modal-body-img-small img {
        width: 100%;
    }
    .case-study1-modal-body-text {
        width: 100%;
        margin-top: 50px;
        padding: 0;
    }
    .case-study1-modal-body-video {
        margin: 0 10px;
    }
    .case-study1-modal-body-video video {
        width: 100%;
        height: auto;
    }
    .case-study2-content-wrapper {
        width: auto;
        margin: 70px 5px 5px;
    }
    .case-study2-modal-body-text {
        margin: 30px 0 0 0;
    }
    .case-study2-modal-body-img {
        display: none;
    }
    .case-study2-modal-body-img-small {
        display: inline-block;
        width: 100%;
    }
    .case-study2-modal-body-img-small img {
        width: 100%;
        height: auto;
    }
}